@model IEnumerable<ConfigResponseDto>

@{
	ViewData["Title"] = "Smartbell Configs";
}

<h3 class="text-center">
	Smartbell Setup
</h3>

<div id="view-all">
	@await Html.PartialAsync("_ViewAll", Model)
</div>