@model IEnumerable<ConfigResponseDto>

@{
	ViewData["Title"] = "Smartbell Configs";
}

<h1 class="text-center">
	Smartbell Setup
</h1>

<div id="view-all">
	@await Html.PartialAsync("_ViewAll", Model)
</div>