@model IEnumerable<RingtoneResponseDto>

<div class="row">
        <div class="col-md-12">
            <div class="col-md-4 offset-4">
            <table class="table table-responsive">
                <thead class="thead-light">
                    <tr>
                        <th>Description</th>
                        <th class="text-center">Tone</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Description</td>
                            <td>
                                <audio controls>
                                    <source src="@item.RingtoneFilePath" type="audio/mpeg">
                                </audio>
                            </td>
                            @*                            <td>
                        <a onclick="showInPopup('@Url.Action("AddOrEdit","Ringtones",new {Id=item.Id},Context.Request.Scheme)', 'Update Ringtone')"
                        class="btn btn-info text-white">
                        <i class="fa-solid fa-pencil"></i> Edit
                        </a>
                        <form asp-action="Delete" asp-route-id="@item.Id" class="d-inline"
                        onclick="return jQueryAjaxDelete(this)">
                        <input type="submit" value="Delete" class="btn btn-danger" />
                        </form>
                        </td>*@
                        </tr>
                    }
                </tbody>
            </table>
            </div>
        </div>
    </div>