@model IEnumerable<RingtoneResponseDto>

@{
    ViewData["Title"] = "Ringtones";
}

@if (Model.Any())
{
    <div id="view-all">
        @await Html.PartialAsync("_ViewAll", Model)
    </div>
}
else
{
    <p>No ringtone to display.</p>
}

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}